#(project (
  #(meta (
    #(name kanin)
    #(description "An LFE Wrapper for the Erlang RabbitMQ (AMQP) Client.")
    #(version "0.2.0")
    #(keywords ("LFE" "Lisp" "Library" "Utility" "Messaging" "AMQP" "RabbitMQ"))
    #(maintainers (
      (#(name "Odakotah LaBlanc") #(email "oda@billo.systems"))))
    #(repos (
      #(github "billosys/kanin")))))))

