{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, "0.10.0-dev", {git, "git://github.com/rvirding/lfe.git", "lfe-dev"}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.4.0"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.4.0"}}},
   {kla, ".*", {git, "git://github.com/billosys/kla.git", {tag, "0.2.0"}}}
  ]}.
