{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, "0.8.0", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.8"}}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.2.6"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.3.1"}}},
   {kla, ".*", {git, "git://github.com/billosys/kla.git", {tag, "0.1.0"}}}
  ]}.
